.feedback-input {
    color: black;
    font-family:  sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid blue;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
header {
    width: 100%;
    background-image: linear-gradient(gray);
    background-position: center;
    background-size: auto;
    text-align: center;
}

  .feedback-input:focus { border:2px solid blue; }

/* Add a black background color to the top navigation bar */
.topnav {

    background-color: blue;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: red;
    color: blue;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: red;
    color: white;
}
.dropbtn {
    position: relative;
    display: revert;
    color: blue;
    float: none;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    background-color: blue;
}

.dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 54, 255);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover  .dropdown-content {
    display: block;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  div nav ul li {
    display: inline-block;
    margin-right: 20px;
     float: none;
     text-align: center;
     overflow: hidden;
}

  [type="submit"] {
    width: 100%;
    background: blue;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color: black;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:blue; }
footer {
    position: sticky;
    padding-bottom: none;
    text-align: center;
    border: 20px;
    border-bottom-color: blue;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}